@model CookBookC3.Models.Ingredient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ingredient</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">Jednostka</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerUnit" class="control-label">Koszt jednostkowy</label>
                <input asp-for="CostPerUnit" class="form-control" />
                <span asp-validation-for="CostPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Callories" class="control-label">Kalorie</label>
                <input asp-for="Callories" class="form-control" />
                <span asp-validation-for="Callories" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
