@model IngredientsList
    <div class="container">
        @foreach (var ingredient in Model.Ingredients)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@ingredient.Name</h4>
                    <p class="card-text">@ingredient.Description.</p>
                    <p class="card-subtitle" style="float:right">@ingredient.Units.</p>
                </div>
            </div>
        }
        <ul class="pagination" page-info="@Model.PageInfo" page-action="List" page-test-attribute="false" page-outer-class="page-item" page-inner-class="page-link"></ul>
    </div>