@model TabWithId
@inject CookBookASP.Session.SessionManager<ItemInfo> SessionManger
@{
    int id = int.TryParse(ViewContext.RouteData.Values["id"]?.ToString(), out int extractedId) ? extractedId : 0;
    string name = SessionManger.GetItem()?.Name ?? "";
}
<h1>@name</h1>
<h3>Edycja przepisu</h3>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 1 ? "active": "")" asp-action=@ASPNames.Edit asp-route-id=@id>Ogólne</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab == 2 ? "active": "")" asp-action=@ASPNames.Categories asp-route-id=@id>Kategorie</a>
    </li>
</ul>
