@model TabWithId
<h1>@Model.Name</h1>
<h3>Edycja przepisu</h3>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link @(@Model.Tab == 1 ? "active": "")" asp-action=@ASPNames.Edit asp-route-id=@Model.Id>Ogólne</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(@Model.Tab == 2 ? "active": "")" asp-action=@ASPNames.Cuisines asp-route-id=@Model.Id>Kuchnie</a>
    </li>
</ul>


