@model List<CategoryVM>
    <div>
        @foreach (var category in Model)
        {
            <a class="btn btn-outline-secondary m-1"
               asp-action=@nameof(IngredientController.names.AddCategory) asp-controller=@nameof(IngredientController).GetASPName()
               asp-route-categoryid="@category.Id" asp-route-id="@(ViewContext.RouteData.Values["id"])">
                @category.Name
            </a>
        }
    </div>