@model List<CategoryUIO>
    <div>
        @foreach (var category in Model)
        {
            <a class="btn btn-outline-secondary m-1"
               asp-action=@ASPNames.AddCategory asp-controller=@nameof(CookBookASP.Controllers.IngredientController).GetASPName()
               asp-route-categoryid="@category.Id" asp-route-id="@(ViewContext.RouteData.Values["id"])">
                @category.Name
            </a>
        }
    </div>